html{
    overflow-x: hidden;   
    scroll-behavior: smooth;
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif ;
}
    
#sec{
    background-image: url("/images/scene.png");
    background-attachment: fixed;
 width: 100vw;
    height: 105vh;
    background-size:cover;
    background-position:right center;
}
    
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
    
nav{
    display:flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
    
.navItem li{
    list-style: none;
    margin: 8px 0px;
    padding-left: 1000px;
}
    
.navItem li a{
    font-weight: 500;
    position: relative;
    font-size: 19px;
    color: #144bc1;
    letter-spacing: 0.5px;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
}
    
.navItem li a:hover{
    color: #4f35e0;
}
    
.navbar ul li a.active {
    border-radius: 0px;
    padding: 19px 15px;
    padding-top: 20px;
}
    
#myhome{
    display: flex;
justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 60vh;
    padding-top: 10vh;
}
    
.cols{
    width: 100%;
    position: relative;
    top: 0;
}
    
.topline{
    font-size: 100px;
    letter-spacing: 5px;
    color: #ffffff;
}
    
h1{
    margin-top: 90px;
    padding-left: 0;
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: 300;
    color: #ffffff;
}
    
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
    
.btns{
    width: 100%;
    position: relative;
    left: 50px;
    bottom:20px;
}
    
.btns a{
    text-decoration: none;
    color: #fff;
}
    
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.59);
}
    
button:hover{
    background-color: #6003f6;
}
    
/*-----------------------------------------about---------------------------------------------*/
    
#myabout{
    margin-top: 2%;
    
}
    
.abt{
    align-items: center;
    padding-top: 1%;
    padding-bottom: 20px;
padding-left: 0;
    font-size: 2.8em;
    text-align: center;
    font-weight: 200;
    color: #000000;
}
    
.row{
    display: flex;
    flex-wrap: wrap;
}
    
.about-img img{
    width: 14vw;
    border-radius: 60%;
    transform: scaleX(-1);
    position: relative;
    margin-left: 700px;
    margin-bottom: 30px;
}
    
.abt-content{
    width: 80%;
margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}
    
.change{
    color: #001aff;
    font-weight: 500;
}
    
.enjoy{
    padding-top: 2%;
    text-align: center;
    padding-left: 1%;
    font-size: 1.4em;
    font-weight: 300;
    color: #3d535f;
}
    
.proc{
    margin: auto 5%;
    text-align: center;
    padding-top: 3%;
    font-size: 2.3em;
    font-weight: 250;
}
    
.self{
margin: 40px auto;
    padding: 20px;
    width: 50%;
    height: 280px;
    align-items: center;
    background-color: hsla(0, 0%, 94%, 0.938);
}
    
.self-images{
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
    
/*-----------------------------------------passion---------------------------------------------*/
    
.passion{
    margin-top: 5%;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 20px;
padding-left: 0;
    font-size: 2.8em;
    font-weight: 200;
    color: #000000;
    text-align: center;
}
    
.block{
    margin-top: 10%;
    padding-left: 5%;
    width: 100%;
    height: 750px;
    align-items: center;
    background-color: hsla(0, 0%, 94%, 0.938);
}
    
.container1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
    
.item1 {
    max-width: 350px;
    text-align: center;
}
    
.icon1 {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0017ff;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
    
.icon1:hover{
    transform: rotate(360deg);
}
    
.icon1 img {
    width: 40%;
    height: 40%;
}
    
.ddi{
    margin: 0 auto 40px auto;
}
    
/*-----------------------------------------experience---------------------------------------------*/
    
.exp{
    margin-top: 1%;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 20px;
 padding-left: 0;
    text-align: center;
    font-size: 2.8em;
    font-weight: 200;
    color: #000000;
}
    
#myexp p{
    width: 75%;
    text-align:center;
    padding-left: 25%;
    font-size: 1.3em;
    font-weight: 300;
}
    
.head1{
    width: 80vh;
    margin-bottom: 5%;
margin-top: 4%;
    font-size: 1.5em;
    font-weight: 350;
}
    
.tech-icons {
padding-left: 1.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 40%;
}
    
.tech-icons img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    filter: grayscale(100%); /* Make icons grayscale */
    transition: filter 0.3s ease, transform 0.3s ease;
}
    
.tech-icons img:hover {
    filter: grayscale(0%); /* Remove grayscale on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.workplaces{
    margin-top: -34%;
}

.workplaces .work-icons{
    margin-top: -2%;
}

.head2{
width: 280vh;
    font-size: 1.5em;
    font-weight: 350;
}
    
.work-icons {
justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
    
.work-icons img {
    margin-left: 67%;
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}
    
.work-icons img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
    
/*----------------------------------------------resume-------------------------------------------*/
    
.resume {
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 40vh;
    background: url('./images/photo_2024-06-16\ 12.20.22.jpeg') no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
    
.resume::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}
    
.res1 {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 2;
}
    
.res1 h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-left: -2%;
    letter-spacing: 2px;
}
    
.resbutton {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #ffffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
}
    
.resbutton::after, .resbutton::before {
    content: "";
    position: absolute;
    inset: 0;
}
    
.resbutton::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}
    
 @keyframes move-bg7234 {
    0% {
    background-position: 31% 0%;
    }
    
    50% {
    background-position: 70% 100%;
    }
    
    100% {
    background-position: 31% 0%;
    }
}
    
.resbutton::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
    /* Top-left */ var(--border-width)
    calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
    calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
}
    
.resbutton:where(:hover, :focus)::after {
    clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
    calc(100% - var(--border-width)),
    /* bottom-right 2 */
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
    calc(100% - var(--border-width))
    );
    transition: 200ms;
}
    
.resbutton:where(:hover, :focus) {
    color: #fff;
}
    
/*-----------------------------------------projects---------------------------------------------*/
    
.work{
    margin-top: 3%;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 20px; 
    padding-left: 0;
    text-align: center;
    font-size: 2.8em;
    font-weight: 200;
    color: #000000;
}
    
#mywork p{
    font-size: 1rem;
    color: gray;
    margin-bottom: 2%;
    padding-left: 43%;
}
    
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
    gap: 25px;
    padding: 20px;
    transition: all 400ms;
}
    
.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
    
.portfolio-item img {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
    object-fit: cover;
    margin-top: -7.9%;
}
    
.overlay {
    position: absolute;
    text-align: center;
    top: 76%;
    left: 0;
    width: 100%;
    height: 24%;
    background: rgba(0, 0, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition: all .8s ease-in-out;
}
    
.portfolio-item a{
    position: relative;
    display: flex;
    font-size: 40px;
    top: 56%;
    left: 43%;
    right: 0;
    text-align: center;
    margin: 0 13px;
    transform: translate(0, -50px);
    opacity: 0;
    transition: all .3s ease;
    z-index: 100;
}
    
.portfolio-item:hover .overlay{
    opacity: 1;
}
    
.portfolio-item:hover a{
    opacity: 1;
}
    
.portfolio-item:hover img{
    filter: blur(5px);
}

/*-----------------------------------------contact---------------------------------------------*/

#mycontact h1{
    align-items: center;
    padding-top: 1%;
    padding-bottom: 20px;
    padding-left: 2%;
    font-size: 3em;
    font-weight: 200;
    color: #000000;
}
    
.contact-section {
    margin-top: 10%;
    padding-bottom: 6%;
    text-align: center;
    background-color: #f5f5f5;
}
    
.contact-container {
    max-width: 600px;
    margin: 0 auto;
}
    
.contact-container .icon img {
    margin-top: -20%;
    width: 70px;
    padding-top: 30%;
    margin-bottom: 20px;
}
    
.contact-container p {
    font-size: 20px;
    color: #555;
}

.p1 {
    margin-bottom: 30px;
    font-size: 20px;
}
    
.contact-container .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border: 5px solid #333;
    border-radius: 10px;
    transition: all 0.3s ease;
}
    
.contact-container .btn:hover {
    background-color: #4f4f4f;
    color: #fff;
}
    
footer {
    background-color: #514f4f;
    color: #fff;
    text-align: center;
    padding: 10px 50px;
}
    
footer .social-icons {
    margin-bottom: 50px;
}
    
footer .social-icons a {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
    
footer .social-icons a:hover {
    color: #aaa;
}
    
footer p {
    padding-top: 1%;
    font-size: 18px;
    color: #d6cfcf;
    padding-left: 9.5%;
}
    
#mycontact ul {
    list-style: none;
}
    
.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
 
.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
 
.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
 
.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}
 
.example-2 .icon-content a:hover .filled {
    height: 100%;
}
    
.example-2 .icon-content a[data-social="linkedin"] .filled, .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}
    
.example-2 .icon-content a[data-social="github"] .filled, .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled, .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
    );
}
    
.example-2 .icon-content a[data-social="youtube"] .filled, .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease; /* Smooth transition for size and font changes */
    z-index: 1000;
}

.navbar.large {
    height: 90px;
    background-color: #01b994; /* Semi-transparent background */
}

.navbar.small {
    margin: -8px 0px;
    height: 64px;
    font-size: 1em; /* Smaller font size */
    background-color: #01b994; /* Solid background color */   
}

nav a.active {
    color: #f3f5f8;
    background-color: #616b71;
}

nav a.active:hover{
    color: rgb(255, 255, 255);
}


/* ---------- Responsive Design Fixes ---------- */

@media (min-width: 1024px) and (max-width: 1440px) {
     .sidebar{
        display: none;
    }
    .navItem ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navItem li {
    margin: 0;
    padding: 0;
  }

  .navItem li a {
    font-size: 18px;
    padding: 10px 15px;
    color: #144bc1;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
  }

  .navItem li a:hover {
    color: #4f35e0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
    .abt,
    .passion,
    .exp,
    .work {
        padding-left: 0;
        text-align: center;
    }

    .abt-content,
    .enjoy,
    #myexp p {
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }

    #myhome {
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }

    .self {
        margin: 40px auto;
        padding: 20px;
        width: 80%;
    }

    .about-img img {
        margin: 0 auto 30px auto;
        display: block;
    }
    .item1 {
    max-width: 300px;
    text-align: center;
}
    .tech-icons,
    .work-icons {
        margin-left: 0;
        justify-content: center;
    }

    .head1,
    .head2 {
        text-align: center;
        margin: 20px 0;
    }
} 
@media (min-width: 768px) and (max-width: 1023px) {
    .sidebar{
        display: none;
    }
    #sec{
        background-position-x: 60%;
  }
   #myhome {
    height: 55vh;
}
    .topline{
        padding-right: 10%;
        font-size:60px;
    }
    .cols h1{
        padding-right: 15%;
        margin-top: 35px;
        font-size: 20px;
    }
  .navItem li {
    padding-left: 0;
    margin: 5px 0px;
  }
  .abt,
  .passion,
  .exp,
  .work,
  #mycontact h1 {
    font-size: 2em;
    padding-left: 0;
    text-align: center;
  }
  .abt-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}
.enjoy{
    padding-right: 5%;
    font-size: 0.95em;
}
.self{
    width: 100%;
}
    #myexp{
    margin-bottom: 30%;
  }
  .about-img img {
    margin: 0 auto 30px auto;
    display: block;
  }
  .work-icons,
  .tech-icons {
    padding-left: 5%;
    justify-content: center;
  }
  .tech-icons img{
    width: 70px;
    height: 70px;
  }
  .head1 {
    font-size: 1em;
    text-align: center;
    margin: 20px -50px;
  }
  .head2{
    font-size: 1em;
    margin: 1% 0px 20px 500px;
  }
  .navbar.large {
    height: 70px;
    background-color: #01b994; /* Semi-transparent background */
}
.navbar.small {
    height: 60px;
    font-size: 1em; /* Smaller font size */
    background-color: #01b994; /* Solid background color */   
}
.navbar ul li a.active {
    border-radius: 0px;
    padding: 10px 5px;
    padding-top: 25px;
    padding-bottom: 2px;
}
.block{
    height: 600px;
}
.icon1{
    width: 120px;
    height: 120px;
}
.item1 {
    font-size: 12px;
    max-width: 230px;
    text-align: center;
}
#myexp p{
    padding-left: 20%;
    width: 80%;
    font-size: 1em;
}
.workplaces{
    margin-top: -54%;
    margin-left: 3%;
}
.workplaces .work-icons{
    margin-top: -2%;
    margin-right: 2%;
}
.resume {
  position: relative;
  width: 100%;
  height: 50vh;
}
#mywork p{
    padding-left: 40%;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 10px;
    padding: 20px;
    transition: all 400ms;
}
.contact-container .icon img {
    width: 40px;
   margin-top: -23%;
}
#mycontact h1{
    margin-top: -1%;
}
footer {
    text-align: center;
    padding: 15px 70px;
}
}

@media (min-width: 468px) and (max-width: 767px) {
  .navbar{
    display: none;
  }
  #sec{
    background-position-x: 60%;
  }
  #myhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.cols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topline {
  font-size: 60px;
}

.cols h1 {
  margin-top: 10px;
  font-size: 18px;
}
  .menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  z-index: 9999;
  color: #144bc1;
  cursor: pointer;
  background: rgb(217, 162, 162);
  padding: 10px;
  border-radius: 5px;
  display: block;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 80%;
  background-color: #008080;
  padding-top: 60px;
  transition: right 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
}
.sidebar.active {
  right: 0;
}
.sidebar-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: #006666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}
#close-sidebar {
  font-size: 28px;
  cursor: pointer;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 80px;
}

.sidebar-menu li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 20px;
}

.sidebar-menu li a {
    width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid #005555;
}

.sidebar-menu li a:hover {
  background: #006666;
  border-radius: 4px;
  padding-left: 10px;
}
  .abt-content,
  .enjoy,
  .p1,
  .contact-container p {
    font-size: 1rem;
    padding-left: 0;
    text-align: center;
  }
    .abt-content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}
  .about-img img {
    display: block;
    margin: 0 auto;
  }
  .self {
    display: none;
  }

  .container1 {
    flex-direction: column;
    align-items: center;
  }
  .block {
    height: auto;
    padding-bottom: 40px;
  }
  .portfolio-grid {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .portfolio-item a {
    top: 50%;
    left: 40%;
    font-size: 30px;
  }
  #myexp p{
    padding-left: 10%;
    width: 90%;
    font-size: 1em;
}
 #myexp{
    margin-bottom: 30%;
  }
  .overlay {
    top: 75%;
    font-size: 0.9rem;
  }
  .work-icons,
  .tech-icons {
    padding-left: 5%;
    justify-content: center;
  }
  .tech-icons img{
    width: 70px;
    height: 70px;
  }
  .head1 {
    font-size: 15px;
    text-align: center;
    margin: 20px -90px;
  }
  .head2{
    font-size: 15px;
    margin: -512px 0px 20px 400px;
  }
  .workplaces .work-icons{
    margin-top: -2%;
    margin-right: 15%;
}
 .resume {
  position: relative;
  width: 100%;
  height: 50vh;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 10px;
    padding: 20px;
    transition: all 400ms;
}
.contact-container .icon img {
    width: 40px;
   margin-top: -23%;
}
#mycontact h1{
    margin-top: -1%;
}
  footer {
    background-color: #514f4f;
    color: #fff;
    text-align: center;
    padding: 15px 70px;
}
  .example-2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 467px) {
    html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
    .navbar{
    display: none;
  }
  #sec{
    background-position-x: 60%;
  }
  #myhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: 0;
  padding: 0;
}
.cols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cols h1 {
  margin-top: 10px;
  font-size: 13px;
}
  .menu-toggle {
  position: fixed;
  top: 1.5%;
  right: 5%;
  font-size: 26px;
  z-index: 9999;
  color: #144bc1;
  background: rgb(217, 162, 162);
  padding: 8px 10px;
  border-radius: 5px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 80%;
  background-color: #008080;
  padding-top: 60px;
  transition: right 0.3s ease;
  z-index: 9998;
  overflow-y: auto;
}
.sidebar.active {
  right: 0;
}
.sidebar-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: #006666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}
#close-sidebar {
  font-size: 28px;
  cursor: pointer;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 80px;
}

.sidebar-menu li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 20px;
}

.sidebar-menu li a {
    width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid #005555;
}

.sidebar-menu li a:hover {
  background: #006666;
  border-radius: 4px;
  padding-left: 10px;
}
.abt,
.passion,
.exp,
.work{
    font-size: 2em;
}
.about-img img {
  margin: 0 auto;
  display: block;
  transform: scaleX(-1);
   width: 50%;
}
.self {
display: none;
  }
.block{
    height: 100%;
}
.item1 p {
  font-size: 16px;
  margin-bottom: 20px;
}
  .topline {
    font-size: 28px;
  }
  h1 {
    font-size: 18px;
  }
  #myexp{
    margin-bottom: 50%;
  }
  #myexp p{
    font-size: 0.9em;
    width: 100%;
    padding-left: 2%;
  }
  .abt-content,
  .enjoy,
  .p1,
  .contact-container p {
    font-size: 0.9rem;
  }
   .head1 {
    font-size: 10px;
    text-align: center;
    margin: 20px -170px;
  }
  .head2{
    font-size: 10px;
    margin: -405px 0px 20px 250px;
  }
   .tech-icons img{
    width: 50px;
    height: 50px;
  }
  .work-icons img{
    width: 90px;
    height: 90px;
  }
  .resume {
  position: relative;
  width: 100%;
  height: 50vh;
}
#mywork p{
    padding-left: 30%;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 10px;
    padding: 20px;
    transition: all 400ms;
}
  .contact-container .icon img {
    width: 40px;
   margin-top: -23%;
}
#mycontact h1{
    margin-top: -1%;
}
footer {
    text-align: center;
    padding: 15px 70px;
}
footer .social-icons a{
    font-size: 5px;
}
footer p{
    font-size: 15px;
} 
}